/*! b&o-webfont.css © yamoo9.net, 2016 */
@font-face {
  font-family: "proximanova thin";
  font-weight: 200;
  font-style: normal;
  src: local("proximanova-thin-webfont"), url("./proximanova-thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "proximanova regular";
  font-weight: 400;
  font-style: normal;
  src: local("proximanova-regular-webfont"), url("./proximanova-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "proximanova bold";
  font-weight: 700;
  font-style: normal;
  src: local("proximanova-bold-webfont"), url("./proximanova-bold-webfont.woff") format("woff");
}
